.card {
  background-color: #171717;
  width: 80%;
  margin: 20px auto;
  border: none;
}
.card-img {
  padding: 4rem;
}

.container {
  margin: auto;
}

.card-header {
  border: none;
}
.card-footer {
  border: none;
}

.text-white {
  padding-bottom: 10px;
  text-align: center;
}

button {
  border: #fff 1px solid;
  border-radius: 5px;
  color: #fff;
  background: #171717;
}
