.card {
  background-color: #171717;
  width: 80%;
  margin: 20px auto;
  border: none;
}
.card-img {
  padding: 4rem;
}

.container {
  margin: auto;
}

.card-header {
  border: none;
}

.text-white {
  padding-bottom: 15px;
}
