@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen Mono", monospace;
}

body {
  margin: 0;
  background-color: #171717;
  color: #e5e5e5;
}

/* font-family: "Oxygen", sans-serif; */
