@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap");
* {
  box-sizing: border-box;
  align-items: center;
}

#root {
  margin: 0;
  background-color: #171717;

  font-family: "Oxygen Mono", monospace;
}

/* .card {
  margin-top: 50px;
} */
